body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.profile-picture {
  border-radius: 50%;
  width: 30%;
  max-width: 350px;
  height: auto;
}

.page-header{
  font-size: 400%;
}

hr{
  width: 50%;
  margin-left:25% !important; margin-right:25% !important;
}