body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.profile-picture {
  border-radius: 50%;
  width: 45%;
  max-width: 350px;
  height: auto;
  display: block;
  margin-left: auto;
margin-right: auto;
}

.page-header{
  font-size: 400%;
  text-align: center;
}

hr{
  width: 50%;
  margin-left:25% !important; margin-right:25% !important;
}

.subtitle{
  text-align: center;
  font-size: 35px;
}

.subtitle2{
  text-align: left;
  color: #919191;
}

.container2 {
  margin: auto;
  width: 50%;
  max-width: 900px; /* 2 */
  border-radius: 10px;
}